@using ATI.Web.Models;
@using ATI.Web.Helper;

@{
    var about = (Introduce)ViewBag.Content;
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = Html.Raw(string.Concat(about.Title, " | ", commonInfo.Name));
    ViewBag.Description = Html.Raw(about.Summary);
    ViewBag.Keyword = Html.Raw(about.Summary);
    ViewBag.Url = about.SeoLink;
    ViewBag.Image = commonInfo.Logo;
}

<section class="page-title_professional" style="background-image:url(images/background/4.jpg);">
    <div class="auto-container">
        <h1>
            @ATIResourceManger._managerResources.GetString("IntroductionCode", ATIResourceManger._culture)
        </h1>
    </div>
</section>
<div class="breadcrumb-outer_professional">
    <div class="auto-container">
        <ul class="bread-crumb text-center">
            <li>
                <a href="/">
                    @ATIResourceManger._managerResources.GetString("HomeCode", ATIResourceManger._culture)
                </a> <span class="fa fa-angle-right"></span>
            </li>
            <li>
                <a href="/dich-vu">
                    @ATIResourceManger._managerResources.GetString("IntroductionCode", ATIResourceManger._culture)
                </a> <span class="fa fa-angle-right"></span>
            </li>
            <li>@about.Title</li>
        </ul>
    </div>
</div>

<div class="sidebar-page-container_professional">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <section class="blog-single">
                    <!--News Style One-->
                    <div class="news-style-one">
                        <div class="inner">
                            <div class="lower-box">
                                <div class="upper-content">
                                    <h3>@about.Title</h3>
                                    <ul class="meta-option">
                                        <li><a href="blog-single.html"><span class="icon fa fa-user"></span> @ATIResourceManger._managerResources.GetString("PostedBy_Label", ATIResourceManger._culture): @about.LastUpdateUser</a></li>
                                        <li>@*<a href="blog-single.html"><span class="icon fa fa-calendar"></span>04 Comments</a>*@</li>
                                    </ul>
                                </div>
                                <div>
                                    @Html.Raw(about.Content)
                                </div>
                                <!--post-share-options-->
                                <div class="post-share-options clearfix">
                                    <div class="pull-right social-icon-three clearfix">
                                        <a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="#" class="linkedin"><span class="fa fa-google-plus"></span></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--Sidebar-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">
                    <div class="sidebar-inner">
                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h3>
                                    @ATIResourceManger._managerResources.GetString("MorePosts_Label", ATIResourceManger._culture)
                                </h3>
                            </div>
                            @{
                                var partners = (List<Introduce>)ViewBag.IntroduceOther;

                                foreach (var item in partners)
                                {
                                    <article class="post padding-left0">
                                        <h4><a href="/dich-vu/@item.SeoLink">@item.Title</a></h4>
                                        <div class="post-info"><span class="fa fa-calendar"></span>@Convert.ToDateTime(item.LastUpdateTime).ToString("dd/MM/yyyy")</div>
                                    </article>
                                }
                            }
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>