@using ATI.Web.Models;
@using ATI.Web.Helper;
@model ATI.Web.Models.ContactViewModel

@{
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = Html.Raw(string.Concat(@ATIResourceManger._managerResources.GetString("ContactCode", ATIResourceManger._culture), " | ", commonInfo.Name));
    ViewBag.Description = Html.Raw(string.Concat(@ATIResourceManger._managerResources.GetString("ContactCode", ATIResourceManger._culture), " ", commonInfo.Name));
    ViewBag.Keyword = Html.Raw(string.Concat(@ATIResourceManger._managerResources.GetString("ContactCode", ATIResourceManger._culture), " ", commonInfo.Name));
    ViewBag.Url = "/lien-he";
    ViewBag.Image = commonInfo.Logo;
}
@section KnockOut{
    <script src="~/Scripts/plugins/amplify.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/plugins/toastr.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/contact.js"></script>

    <script type="text/javascript">
        function initMap() {
            var markerArray = [];

            var myLatlng = new google.maps.LatLng(@(commonInfo.Lang == null ? 21.028511 :@commonInfo.Lang), @(commonInfo.Long == null ? 105.804817:@commonInfo.Long));
            var mapOptions = {
                zoom: 15,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: '@commonInfo.Name - ĐT: @commonInfo.Mobile<br> @commonInfo.Office'
            });
            var info = new google.maps.InfoWindow({
                content: '@commonInfo.Name - ĐT: @commonInfo.Mobile<br> @commonInfo.Office'
            });

            info.open(map, marker);
            stepDisplay = new google.maps.InfoWindow();
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCggrXCEIxTgMCVAx6sYSZPdj3gCSx5Owg&callback=initMap" type="text/javascript"></script>
}

<link href="~/Content/css/toastr.min.css" rel="stylesheet" />

@*<section class="page-title_professional" style="background-image:url(images/background/4.jpg);">
    <div class="auto-container">
        <h1>Liên hệ với chúng tôi</h1>
    </div>
</section>*@

<div class="breadcrumb-outer_professional">
    <div class="auto-container">
        <ul class="bread-crumb text-center">
            <li><a href="index.html">@ATIResourceManger._managerResources.GetString("HomeCode", ATIResourceManger._culture)</a> <span class="fa fa-angle-right"></span></li>
            <li>@ATIResourceManger._managerResources.GetString("ContactCode", ATIResourceManger._culture)</li>
        </ul>
    </div>
</div>

<section class="contact-form-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>
                @ATIResourceManger._managerResources.GetString("ContactUs_Label", ATIResourceManger._culture)
            </h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            <!--Form Column-->
            <div class="form-column col-md-8 col-sm-8 col-xs-12 pull-right">
                <!-- contact Form -->
                <div class="contact-form">
                    <!--contact Form-->
                    <form method="post" id="contact-form">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                @Html.TextBoxFor(m => m.Name, new Dictionary<string, object>
                                    {
                                        { "class", "form-control" },
                                        {" placeholder", @ATIResourceManger._managerResources.GetString("Fullname", ATIResourceManger._culture) },
                                        {"data-bind", "value: FullName" }
                                    })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                @Html.TextBoxFor(m => m.CompanyName, new Dictionary<string, object>
                                    {
                                        { "class", "form-control" },
                                        {" placeholder", @ATIResourceManger._managerResources.GetString("ContactCompany", ATIResourceManger._culture) },
                                        {"data-bind", "value: Company" }
                                    })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                @Html.TextBoxFor(m => m.Email, new Dictionary<string, object>
                                    {
                                        { "class", "form-control" },
                                        {" placeholder", "Email" },
                                        {"data-bind", "value: Email" },
                                        {" type","email" }
                                    })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group" style="display: inline-block">
                                @Html.TextBoxFor(m => m.Phone, new Dictionary<string, object>
                                    {
                                        { "class", "form-control" },
                                        {" placeholder", @ATIResourceManger._managerResources.GetString("Phone", ATIResourceManger._culture) },
                                        {"data-bind", "value: Mobile" }
                                    })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" style="display: inline-block">
                                @Html.TextAreaFor(m => m.Message, new Dictionary<string, object>
                                    {
                                        { "class", "form-control" },
                                        {" placeholder", @ATIResourceManger._managerResources.GetString("ContactContent", ATIResourceManger._culture) },
                                        {"data-bind", "value: Message" }
                                    })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <button class="theme-btn btn-style-one" type="button" name="submit-form" data-bind="click: SendMessage, enable:!Sending() ">
                                    <img src="/content/images/loading.gif" data-bind="visible: Sending" />
                                    @ATIResourceManger._managerResources.GetString("Send", ATIResourceManger._culture)
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
                <!--End Contact Form -->

            </div>
            <!--image column-->
            <div class="contact-section col-md-4 col-sm-4 col-xs-12 pull-left">
                <h4>
                    @ATIResourceManger._managerResources.GetString("ContactInfo_Label", ATIResourceManger._culture)
                </h4>
                <ul class="contact-info">
                    <li><div class="icon-box"><span class="fa fa-phone"></span></div>@Html.Raw(commonInfo.Phone), @commonInfo.Mobile</li>
                    <li><div class="icon-box"><span class="fa fa-envelope-o"></span></div>@Html.Raw(commonInfo.Email)</li>
                    <li><div class="icon-box"><span class="fa fa-map-marker"></span></div>@Html.Raw(commonInfo.Office)</li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section class="map-section">
    <!--Map Outer-->
    <div class="map-outer">
        <!--Map Canvas-->
        <div class="map-canvas" id="map_canvas"></div>
    </div>
</section>