@using ATI.Web.Models;
@using ATI.Web.Helper;

@{
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = Html.Raw(string.Concat(ATIResourceManger._managerResources.GetString("HomeCode", ATIResourceManger._culture), " | ", commonInfo.Name));
    ViewBag.Description = Html.Raw(commonInfo.Name);
    ViewBag.Keyword = Html.Raw(commonInfo.Name);
    ViewBag.Url = "";
    ViewBag.Image = commonInfo.Logo;
}

<!--Main Slider-->
<section class="main-slider_professional" data-start-height="550" data-slide-overlay="yes">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                @{
                    var items = (List<ConfigImage>)ViewBag.ListSlide;

                    foreach (var item in items)
                    {
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="@item.Image" data-saveperformance="off" data-title="@item.Name">
                            <img src="@item.Image" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="blue-layer"></div>

                            <div class="tp-caption sft sfb tp-resizeme"
                                 data-x="left" data-hoffset="0"
                                 data-y="center" data-voffset="-100"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeoutexpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="power4.easein"><h2>@item.Title</h2></div>

                                <div class="tp-caption sfb sfb tp-resizeme"
                                     data-x="left" data-hoffset="0"
                                     data-y="center" data-voffset="0"
                                     data-speed="1500"
                                     data-start="1000"
                                     data-easing="easeOutExpo"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.3"
                                     data-endspeed="1200"
                                     data-endeasing="Power4.easeIn"><div class="text">@item.Summary</div></div>

                                    <div class="tp-caption sfb sfb tp-resizeme"
                                         data-x="left" data-hoffset="0"
                                         data-y="center" data-voffset="100"
                                         data-speed="1500"
                                         data-start="1500"
                                         data-easing="easeOutExpo"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-elementdelay="0.01"
                                         data-endelementdelay="0.3"
                                         data-endspeed="1200"
                                         data-endeasing="Power4.easeIn">
                                        <a href="@item.Url" class="theme-btn btn-style-one">Xem thêm</a>&ensp;
                                        <a href="/lien-he" class="theme-btn btn-style-four">Liên hệ</a>
                                    </div>
                                </li>
                    }
                }
            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

<!--End Main Slider-->
<!--default Section One-->
@*<section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12">
                    <div class="left-column">
                        <div class="content">
                            <!--Sec Title-->
                            <div class="sec-title centered">
                                <h2>
                                    @ATIResourceManger._managerResources.GetString("IntroductionCode", ATIResourceManger._culture)
                                </h2>
                                <div class="separator"></div>
                            </div>
                            <div class="text">
                                @{
                                    var introduce = (Introduce)ViewBag.AboutHomePage;

                                    if (introduce != null)
                                    {
                                        @Html.Raw(introduce.Content)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!--default Section One-->
<!--Services Section-->
<section class="services-section_professional" @*style="background-image:url(../../Content/images/background/parallax4.jpg);"*@>
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <h2>
                @ATIResourceManger._managerResources.GetString("ServiceCode", ATIResourceManger._culture)
            </h2>
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            <!--Services Style Two-->
            <div id="owl-example" class="owl-carousel">
                @foreach (var item in (List<Partner>)ViewBag.Services)
                {
                    <div class="services-style-two col-xs-12">
                        <div class="inner hover-style1 hvr-float-shadow">
                            <figure class="image-box hover-style1-img">
                                <img src="@item.Image" alt="@item.Name" />
                            </figure>
                            <div class="lower-box">
                                <h3>
                                    <a href="/dich-vu/@item.SeoLink">
                                        @Common.SubString(item.Name, 30)
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @*@{
                    foreach (var item in (List<Partner>)ViewBag.Services)
                    {
                        <div class="services-style-two col-md-4 col-sm-6 col-xs-12">
                            <div class="inner hover-style1 hvr-float-shadow">
                                <figure class="image-box hover-style1-img">
                                    <img src="@item.Image" alt="@item.Name" />
                                    <div class="hover-style1-view">
                                        <a class="link-box" href="/dich-vu/@item.SeoLink"><span class="fa fa-link"></span></a>
                                    </div>
                                </figure>
                                <div class="lower-box">
                                    <h3>
                                        <a href="/dich-vu/@item.SeoLink">
                                            @Common.SubString(item.Name, 30)
                                        </a>
                                    </h3>
                                    <div class="text">
                                        @Common.SubString(item.Summary, 100)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }*@
        </div>

    </div>
</section>
<!--End Services Section-->
<!-- project_professional Section-->
<section class="project_professional">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>
                @ATIResourceManger._managerResources.GetString("ProductCode", ATIResourceManger._culture)
            </h2>
            <div class="separator"></div>
        </div>
        @*@{
                var list = (CategoryAndProductViewModel)ViewBag.ListCateAndProduct;

                <ul class="post-filter text-center list-inline">
                    <li class="active" data-filter=".default-portfolio-item">
                        <span>
                            @ATIResourceManger._managerResources.GetString("ViewAll_Label", ATIResourceManger._culture)
                        </span>
                    </li>
                    @foreach (var category in list.Categories)
                    {
                    <li data-filter=".@category.CateId">
                        <span>@category.CategoryName</span>
                    </li>
                    }
                </ul>
                <div class="row clearfix masonary-layout filter-layout">

                    @foreach (var product in list.Products)
                    {
                    <div class="default-portfolio-item @product.CateId col-md-4 col-sm-6 col-xs-12">
                        <div class="inner hover-style1">
                            <figure class="hover-style1-img">
                                <img src="@product.Image" alt="@product.Name">
                            </figure>
                            <div class="hover-style1-title title-style-1">
                                <h3><a href="/chi-tiet/@product.SeoLink">@product.Name</a></h3>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }*@

        @{
            var list = (CategoryAndProductViewModel)ViewBag.ListCateAndProduct;
            var first = true;
            var first1 = true;

            <div class="col-xs-12">
                <ul class="nav nav-tabs post-filter" role="tablist">

                    @foreach (var category in list.Categories)
                    {
                        if (first)
                        {
                            <li role="presentation" class="active">
                                <a href="#@category.CateId" aria-controls="@category.CateId" role="tab" data-toggle="tab">@category.CategoryName</a>
                            </li>

                            first = false;
                        }
                        else
                        {
                            <li role="presentation">
                                <a href="#@category.CateId" aria-controls="@category.CateId" role="tab" data-toggle="tab">@category.CategoryName</a>
                            </li>
                        }
                    }
                </ul>
                <div class="tab-content">
                    @foreach (var item in list.Categories)
                    {
                        if (first1)
                        {
                            <div role="tabpanel" class="tab-pane active" id="@item.CateId">
                                <div id="owl-example" class="owl-carousel">
                                    @foreach (var product in list.Products.Where(m => m.CateId == item.CateId))
                                    {
                                        <div class="col-xs-12">
                                            <div class="inner hover-style1">
                                                <figure class="hover-style1-img">
                                                    <img src="@product.Image" alt="@product.Name">
                                                </figure>
                                                <div class="hover-style1-title title-style-1">
                                                    <h3><a href="/chi-tiet/@product.SeoLink">@product.Name</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            first1 = false;
                        }
                        else
                        {
                            <div role="tabpanel" class="tab-pane" id="@item.CateId">
                                <div id="owl-example" class="owl-carousel">
                                    @foreach (var product in list.Products.Where(m => m.CateId == item.CateId))
                                    {
                                        <div class="col-xs-12">
                                            <div class="inner hover-style1">
                                                <figure class="hover-style1-img">
                                                    <img src="@product.Image" alt="@product.Name">
                                                </figure>
                                                <div class="hover-style1-title title-style-1">
                                                    <h3><a href="/chi-tiet/@product.SeoLink">@product.Name</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</section>
<!--End project_professional Section-->
<!--News Section-->
@*<section class="news-section_professional">
        <div class="auto-container">
            Sec Title
            <div class="sec-title centered">
                <h2>
                    @ATIResourceManger._managerResources.GetString("NewsLastest_Label", ATIResourceManger._culture)
                </h2>
                <div class="separator"></div>
            </div>
            <div class="row clearfix">
                @{
                    foreach (var item in (List<News>)ViewBag.TopNews)
                    {
                        <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="image">
                                    <a href="/bai-viet/@item.SeoLink">
                                        <img src="@item.Image" />
                                    </a>
                                </div>
                                <div class="lower-box">
                                    <div class="upper-content">
                                        <h3>
                                            <a href="/bai-viet/@item.SeoLink">
                                                @Common.SubString(item.Title, 30)
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="text">
                                        @Common.SubString(item.Summary, 100)
                                    </div>
                                    <ul class="meta-option clearfix">
                                        <li class="pull-left">
                                            <a href="/bai-viet/@item.SeoLink">
                                                <span class="icon fa fa-clock-o"></span> @Convert.ToDateTime(item.CreatedTime).ToString("dd/MM/yyyy")
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>*@
<!--End News Section-->

@section KnockOut{
    <script>
        $(document).ready(function () {

            $(".owl-carousel").owlCarousel({
                //loop: true,
                margin: 30,
                nav: true,
                smartSpeed: 500,
                autoplay: 3000,
                navText: ['<span class="fa fa-angle-left fa-3x"></span>', '<span class="fa fa-angle-right fa-3x"></span>'],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    800: {
                        items: 3
                    },
                    1024: {
                        items: 3
                    },
                    1200: {
                        items: 3
                    }
                }
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                //e.target // newly activated tab
                //e.relatedTarget // previous active tab
                //$(".owl-carousel").trigger('refresh.owl.carousel');
            });
        });
    </script>
}