@using ATI.Web.Models;
@using ATI.Web.Helper;

@{
    var cate = (CateProduct)ViewBag.Cate;
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = Html.Raw(string.Concat(cate.Name, " | ", commonInfo.Name));
    ViewBag.Description = Html.Raw(string.Concat(cate.Name, " | ", commonInfo.Name));
    ViewBag.Keyword = Html.Raw(string.Concat(cate.Name, " | ", commonInfo.Name));
    ViewBag.Url = "";
    ViewBag.Image = commonInfo.Logo;
}
@section KnockOut{
}

<section class="page-title_professional" style="background-image:url(images/background/4.jpg);">
    <div class="auto-container">
        <h1>@ATIResourceManger._managerResources.GetString("ProductCode", ATIResourceManger._culture)</h1>
    </div>
</section>

<div class="breadcrumb-outer_professional">
    <div class="auto-container">
        <ul class="bread-crumb text-center">
            <li>
                <a href="/">
                    @ATIResourceManger._managerResources.GetString("HomeCode", ATIResourceManger._culture)
                </a> <span class="fa fa-angle-right"></span>
            </li>
            <li>@cate.Name</li>
        </ul>
    </div>
</div>

<div class="sidebar-page-container_professional">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side pull-right col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <section class="products-section">
                    <div class="row clearfix">
                        @{
                            var products = (List<Product>)ViewBag.Products;

                            foreach (var item in products)
                            {
                                <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <!--inner-box-->
                                    <div class="inner-box">
                                        <!--image-box-->
                                        <figure class="image-box">
                                            <a href="/chi-tiet/@item.SeoLink">
                                                <img src="@item.Image" alt="@item.Name">
                                            </a>
                                        </figure>
                                        <!--lower-content-->
                                        <div class="lower-content">
                                            <h3>
                                                <a href="/chi-tiet/@item.SeoLink">
                                                    @item.Name
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>

                    <!-- Styled Pagination -->
                    <div class="styled-pagination text-center">
                        <ul class="clearfix">
                            <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>

                </section>
            </div>

            <!--Sidebar-->
            @{Html.RenderAction("CategoriesSidebar", "Home");}
        </div>
    </div>
</div>
