@using ATI.Web.Models;
@using ATI.Web.Resource;

@{
    var product = (Product)ViewBag.Product;
    var cate = (CateProduct)ViewBag.Category;
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = Html.Raw(string.Concat(product.Name, " | ", commonInfo.Name));
    ViewBag.Description = Html.Raw(product.Summary);
    ViewBag.Keyword = Html.Raw(product.Summary);
    ViewBag.Url = product.SeoLink;
    ViewBag.Image = product.Image;
}
@section KnockOut{
    <script>
        var id = @product.ID;
    </script>
    <script src="/Scripts/knockout-3.1.0.js"></script>
    <script src="/Scripts/ModelViews/ProductDetail.js"></script>
}

<div class="breadcrumb-outer_professional">
    <div class="auto-container">
        <ul class="bread-crumb text-center">
            <li>
                <a href="/">
                    @ATIResource.HomeCode
                </a> <span class="fa fa-angle-right"></span>
            </li>
            <li>
                <a href="/san-pham/@cate.SeoLink">
                    @cate.Name
                </a> <span class="fa fa-angle-right"></span>
            </li>
            <li>@product.Name</li>
        </ul>
    </div>
</div>

<div class="sidebar-page-container_professional">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side pull-right col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <section class="product-details">
                    <!--Basic Details-->
                    <div class="basic-details">
                        <div class="row clearfix">
                            <div class="image-column col-md-6 col-sm-5 col-xs-12">
                                <figure class="image">
                                    <img src="@product.Image" alt="@product.Name">
                                </figure>
                            </div>

                            <div class="info-column col-md-6 col-sm-7 col-xs-12">
                                <div class="details-header">
                                    <h4>@product.Name</h4>
                                </div>
                                <div class="text">
                                    @Html.Raw(product.Summary)
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Basic Details-->
                    <!--Product Info Tabs-->
                    <div class="product-info-tabs">
                        <!--Product Tabs-->
                        <div class="prod-tabs tabs-box" id="product-tabs">

                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#prod-description" class="tab-btn active-btn">
                                    @ATIResource.Description_Product
                                </li>
                            </ul>

                            <!--Tabs Content-->
                            <div class="tabs-container tabs-content">

                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="prod-description">
                                    <div class="content">
                                        @Html.Raw(product.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Related Posts-->
                    <div class="related-posts">
                        <!--Sec Title-->
                        <div class="sec-title centered">
                            <h2>
                                @ATIResource.RelatedProducts_Label
                            </h2>
                            <div class="separator"></div>
                        </div>
                        <div class="row clearfix">
                            @{
                                var productsOther = (List<Product>)ViewBag.ProductsOther;

                                foreach (var item in productsOther)
                                {
                                    <!--Shop Item-->
                                    <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <!--inner-box-->
                                        <div class="inner-box">
                                            <!--image-box-->
                                            <figure class="image-box">
                                                <a href="/chi-tiet/@item.SeoLink">
                                                    <img src="@item.Image" alt="@item.Name">
                                                </a>
                                            </figure>
                                            <!--lower-content-->
                                            <div class="lower-content">
                                                <h3><a href="/chi-tiet/@item.SeoLink">@item.Name</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </section>
            </div>

            <!--Sidebar-->
            @{Html.RenderAction("CategoriesSidebar", "Home");}
        </div>
    </div>
</div>
