@using ATI.Web.Models;
@using ATI.Web.Helper;
@using ATI.Web.Resource;
@model PagerViewModel<Product>

@{
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = Html.Raw(ATIResource.SearchResults_Label);
    ViewBag.Description = Html.Raw(commonInfo.Name);
    ViewBag.Keyword = Html.Raw(commonInfo.Summary);
    ViewBag.Url = "";
    ViewBag.Image = commonInfo.Logo;
}

<div class="breadcrumb-outer_professional">
    <div class="auto-container">
        <div class="bread-crumb text-center title-search">
            @ATIResource.SearchResults_Label
        </div>
    </div>
</div>

<div class="sidebar-page-container_professional">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side pull-right col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <section class="products-section">
                    <div class="row clearfix">
                        @{
                            foreach (var item in Model.Items)
                            {
                                <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <!--inner-box-->
                                    <div class="inner-box">
                                        <!--image-box-->
                                        <figure class="image-box">
                                            <a href="/chi-tiet/@item.SeoLink">
                                                <img src="@item.Image" alt="@item.Name">
                                            </a>
                                        </figure>
                                        <!--lower-content-->
                                        <div class="lower-content">
                                            <h3>
                                                <a href="/chi-tiet/@item.SeoLink">
                                                    @item.Name
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <!-- Styled Pagination -->
                    @if (Model.Pager.EndPage > 1)
                    {
                        var url = System.Web.HttpContext.Current.Request.Url.AbsoluteUri;
                        var urlSplit = url.Split('&');
                        url = urlSplit[0];
                        <div class="styled-pagination text-center">
                            <ul class="clearfix">
                                @if (Model.Pager.CurrentPage > 1)
                                {
                                    <li>
                                        <a class="prev" href="@url">
                                            <span class="fa fa-angle-left"></span>
                                        </a>
                                    </li>
                                }
                                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                {
                                    <li>
                                        <a class="@(page == Model.Pager.CurrentPage ? "active" : "")" href="@url&page=@page">@page</a>
                                    </li>
                                }
                                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                {
                                    <li><a class="next" href="@url&page=@Model.Pager.TotalPages"><span class="fa fa-angle-right"></span></a></li>
                                }
                            </ul>
                        </div>
                    }


                </section>
            </div>

            <!--Sidebar-->
            @{Html.RenderAction("CategoriesSidebar", "Home");}
        </div>
    </div>
</div>
